#voluntariado{
  margin-top: 1em;
}

.voluntariado__equipo{
  display: flex;
  position: relative;
}

.voluntariado__titulo{

  text-align: center;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  color: #004AAD;
}

.voluntariado__video{

  position: relative;
  width: 75%;

}

.voluntariado__video__video{

  position: absolute;
  width: 27%;
  margin-left: 10em;
}

.voluntariado__mensaje__parrafo{
margin-top: 1em;
position: absolute;
width: 85%;
margin-left: 45%;
font-size: 1.75em;
text-align: justify;

}

.voluntariado__mensaje__parrafo2{
  position: absolute;
  font-size: 1.75em;
  margin-top: 15em;
  margin-left: 40% ;
  width: 50%;
  text-align: center;
}

@media screen AND (max-width:768px) {

.voluntariado__video{
  display: flex;
  position: relative;
  justify-content: center;
}

  .voluntariado__video__video{
    position: absolute;
    margin: 0;
    width: 50%;

  }

  .voluntariado__mensaje__parrafo{
    position: absolute;
    margin: 0;
    margin-top: 17em;
    width: auto;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
    font-style: italic;
  }
  
  .voluntariado__mensaje__parrafo2{

    position: absolute;
    margin: 0;
    margin-top: 37em;
    width: auto;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
    font-style: italic;
  }



}

@media screen AND (max-width:480px) {

  .voluntariado__video__video{
    width: 75%;
  }
  
  .voluntariado__mensaje__parrafo{
    width: 80%;
    font-size: 1.25em;
    margin: 0;
    margin-top: 18em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .voluntariado__mensaje__parrafo2{
    width: auto;
    margin-top: 45em;
    font-size: 1.25em;
  }
}